<img src="/assets/images/pizza.png" width="100%">
<br>
<br>
<br>

   <div class="row">
      <div class="col-xs-12 col-s-6 col-md-4 col-lg-4">
         <img (click)="gettabmenu(0)" class=" highlightimage" src="/assets/images/opcion1.png" width="100%">
      </div>
      <div class="col-xs-12 col-s-6 col-md-4 col-lg-4">
         <img (click)="gettabmenu(1)" class=" highlightimage " src="/assets/images/opcion2.png" width="100%">
      </div>
      <div class="col-xs-12 col-s-6 col-md-4 col-lg-4">
         <img (click)="gettabmenu(2)" class=" highlightimage" src="/assets/images/opcion3.png" width="100%">
      </div>
   </div>

<div class="bc">
   <div class="separationmargin row">
      <div style="text-align: center  !important;" class="container">
 
         <a href="https://twitter.com/dominos" target="_blank">
            <img class="highlightimage" src="/assets/images/twiiter.png" width="50px" height="50px">
         </a>
      <span>&nbsp;</span>

         <a href="https://www.instagram.com/pizzahut/" target="_blank">
            <img class="highlightimage " src="/assets/images/instagram.png" width="50px" height="50px" >
         </a>
      <span>&nbsp;</span>

         <a href="https://www.facebook.com/LittleCaesarsCosta/?brand_redir=1554916658110910" target="_blank">
            <img class="highlightimage" src="/assets/images/facebook.png" width="50px" height="50px">
         </a>

   </div>


   </div>
</div>