<div class="container">
    <h1>Informacion de Perfil</h1>
    <hr>
    <div class="col-md-6">
       <form [formGroup]="registerForm" (ngSubmit)="fnCreateUser(registerForm.value)">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <em *ngIf="nombre.invalid && nombre.touched && nombre?.errors.required">Campo Requerido</em>
            <input formControlName="nombre" name="nombre"  id="nombre" type="text" class="form-control" placeholder="Nombre..." required/>
        </div>
            <div class="form-group">
                <label for="email">Correo electronico:</label>
                <em *ngIf="email.invalid && email.touched && email?.errors.required">Campo Requerido</em>
                <input formControlName="email" name="email"  id="email" type="text" class="form-control" placeholder="E-mail..." required/>
            </div>
    
            
            <div *ngIf="authService.isAdmin()" class="form-group">
                <label for="rol">Rol:</label>
                <em *ngIf="rol.invalid && rol.touched && rol?.errors.required">Campo Requerido</em>
                <input formControlName="rol" name="rol"  id="rol" type="rol" class="form-control" placeholder="rol..." required/>
            </div>
            
            <button type="submit"  class="btn btn-primary" style="border-radius: 19px;    width: 273px;
            margin-left: 144px;background-color: #4b5086;">Guardar cambios</button>
            <br>
            <br>
            
            <button type="button" class="btn btn-secondary">Regresar</button>
       </form>
    
       
    </div>
    
    </div>